* {
    margin: 0;
}

nav {
    text-align: center;
    width: 100%;
}

.nav-bar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;

}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: .95rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topnav a.icon {
    color: #fff;
    float: right;
    display: block;
    font-size: 1.25rem;
}

.topnav a:hover {
    background-color: #f6dd3f;
    color: #fff;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
}

.main-nav a {
    display: none;
}

.main-nav {
    /*    margin-top:3.5rem;*/
}

.main-nav.responsive {
    position: relative;

}

.main-nav.responsive a {
    float: none;
    display: block;
}


/*****************/
/**** Header *****/
/*****************/

header {
    position: relative;
}

.site-header {
    background-color: #000;
    width: 100%;
}

page {
    width: 100%;
}


.photo1 {
    width: 100%;

}

.photo1 img {
    width: 100%;
    margin-top: 1.95rem;
}

.projectintro h1 {
    padding: 1.25rem 1.8755rem 0 1.875rem;
    font-size: 3.125rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #f6dd3f;
}

.projectintro h2 {
    padding: 0.25rem 1.875rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
}

.projectintro p {
    padding: 1.25rem 1.875rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}


.photo2 {
    width: 75%;
    margin: auto;
    
}

.photo2 img {
    width: 100%;
}

.projectphotos p {
    padding: 1.25rem 1.875rem 0;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.projectphotos ul {
    padding: 1rem 1.875rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

.projectphotos li {
    padding: 1rem 0;
}

.photo3 {
    width: 90%;
/*    height: 18.75rem;*/
    margin: 0.625rem auto 2.5rem auto;
    display: flex;
    align-items: center;
}

.photo3 img {
    width: 100%; 
}

.photo4 {
    width: 90%;
/*    height: 18.75rem;*/
    margin: 0.625rem auto 2.5rem auto;
    display: flex;
    align-items: center;
}

.photo4 img {
    width: 100%; 
}

.photo5 {
    width: 90%;
/*    height: 18.75rem;*/
    margin: 0.625rem auto 2.5rem auto;
    align-items: center;
    overflow: hidden;
}

.photo5 img {
    width: 100%;
}

.photo6 {
    width: 90%;
/*    height: 18.75rem;*/
    margin: 0.625rem auto 2.5rem auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.photo6 img {
    width: 100%; 
}


@media only screen and (min-width: 601px) {

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav.responsive .icon {
        display: none;
    }

    .main-nav a {
        display: flex;
    }
    
    .photogrid {
        display: grid;
    }
    
    .photo3 {
        grid-column-start: 1;
        width: 95%;
        height: 21.875rem;
        
    }
    
    .photo4 {
        grid-column-start: 2;
        width: 95%;
        height: 21.875rem;
    }
    
    .photo5 {
        width: 95%;
        height: 21.875rem;
        padding-top: 1rem;
        
    }
    
    .photo6 {
        width: 95%;
        height: 21.875rem;
        
    }
    
    .photo7 {
        width: 95%;
        height: 21.875rem;
    }
}

@media only screen and (min-width: 960px) {
    .page {
        /* 960px */
        width: 60rem;
        margin: 0 auto;
    }

    nav {
        width: 54rem;
        margin: 0 auto;
    }

    .main-nav {
        margin-right: 0px;
    }

    .main-nav a {
        font-size: .95rem;
    }
    
    .photo1 {
        width: 50%;
        height: 31.25rem;
        float: left;

    }
    
    .projectintro h1 {
        font-size: 2.5rem;
        display: inline-block;
        margin-top: 3.125rem;

    }
    
    .projectintro h2 {
        display: inline-block;
    }
    
    .projectintro p {
        width: 50%;
        margin-left: 29.95rem;

    }
    
    .photo2 {
        width: 37.5rem;
        margin: 0 0 3.125rem auto;
        float: right;
    }
    
    
    .projectphotos p {
        display: block;
        width: 30%;
        margin: 15rem 0 0;
    }
    
    .projectphotos ul {
        display: inline-block;
        width: 30%;
    }
    
    .photogrid {
        display: grid;
        width: 100%;
    }
    
    .photo3 {
        width: 95%;
/*        height: 31.25rem;*/
        grid-column-start: 1;
        margin-left: 0;
    }
    
    .photo4 {
        width: 95%;
/*        height: 31.25rem;*/
        grid-column-start: 2;
        margin-right: 0;
        
    }
    
    .photo5 {
        width: 95%;
/*        height: 31.25rem;*/
        margin-left: 0;
        padding-top: 0.5rem;
    }
    
    .photo6{
        width: 95%;
/*        height: 31.25rem;*/
        margin-right: 0;
    }
    
}