* {
    margin: 0;
}

nav {
    text-align: center;
    width: 100%;
}

.nav-bar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;

}

.topnav {
    overflow: hidden;
    position: relative;
}



.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: .95rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topnav a.icon {
    color: #fff;
    float: right;
    display: block;
    font-size: 1.25rem;
}

.topnav a:hover {
    background-color: #1d90fc;
    color: #fff;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
}

.main-nav a {
    display: none;
}

.main-nav {
    /*    margin-top:3.5rem;*/
}

.main-nav.responsive {
    position: relative;

}

.main-nav.responsive a {
    float: none;
    display: block;
}


/*****************/
/**** Header *****/
/*****************/

header {
    position: relative;
}

.site-header {
    background-color: #000;
    width: 100%;
}


.page {
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

.intro {
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
}

.intro h1 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
    margin-top: 5rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #1d90fc;
    
}

.intro img {
    width: 85%;
    padding: 1.25rem 0;
}

.intro p {
    font-size: 1.25rem;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    margin-top: 1.25rem;
}


@media only screen and (min-width: 601px) {

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav.responsive .icon {
        display: none;
    }

    .main-nav a {
        display: flex;
    }


}

@media only screen and (min-width: 960px) {
    .page {
        /* 960px */
        width: 60rem;
        margin: 0 auto;
    }

    nav {
        width: 54rem;
        margin: 0 auto;
    }

    .main-nav {
        margin-right: 0px;
    }

    .main-nav a {
        font-size: .95rem;
    }
    
    .intro {
        width: 80%;
        margin-bottom: 12.5rem;
    }
    
    .intro h1 {
        font-size: 4.6875rem;
    }
    
    .intro img {
        width: 50%;
        float: left;
    }
    
    .intro p {
        width: 45%;
        float: right;
    }
}