*{
    margin:0px;
/*    background-color: #bfe6f1;*/
    
}

.container {
    width: 768px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("map.png");
}

.title_info h1 {
    background-image: url(logo.svg);
    width: 300px;
    height: 135px;
    background-position: center;
    margin: auto;
}

.title_info p {
    width: 768px;
    height: 75px;
    background-color: rgba(146, 213, 245, .6);
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-top: 10px;
    
}


.locations {
    width: 768px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    justify-items: center;
}

/***Paris***/

.Paris {
    grid-column-start: 1;
    width: 350px;
    height: 200px;
    background-image: url(paris.png);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Paris:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Paris h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Paris_button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Paris_button:hover {
    background-color: #7FA058;
}

.Paris_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Paris_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Paris_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-top: -42px;
    margin-right: 10px;
    }

.Paris_close-button:hover {
    background-color: #DD6486;
    }
.Paris_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-top: -45px;
    margin-left: 330px;
    cursor: pointer;
    
}

.Paris_modal-content button:hover {
    background-color: #7FA058;
}

.paris_photos {
    width: 478px;
    margin-left: 3px;
    height: 100px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.Paris_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 468px;
    margin-left: 3px;
    height: 50px;
    margin-top: -10px;
    background-color: #E6E6E6;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.earth1 {
    width: 163px;
    height: 163px;
    margin-left: 76px;
    margin-top: 10px;
}

.france {
    width: 163px;
    height: 163px;
}

.location1 {
    width: 200px;
    margin-left: 65px;
}

.attractions1 {
    width: 200px;
    float: right;
    margin-top: -170px;
    margin-right: 26px;
}

.Paris_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Paris_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.arc {
    height: 100px;
    margin-right: 10px;
}

.escargot {
    height: 100px;
/*    float: left;*/
    margin-left: -14px;
}

.crepe {
    height: 100px;
    float: right;
    margin-top: -104px;
}

.show-Paris_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }


/***London***/

.London {
    grid-column-start: 2;
    width: 350px;
    height: 200px;
    background-image: url(london2.png);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.London:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.London h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.London_button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.London_button:hover {
    background-color: #7FA058;
}

.London_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.London_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.London_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-top: -44px;
    margin-right: 10px;
    }

.London_close-button:hover {
    background-color: #DD6486;
    }
.London_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-top: -47px;
    margin-left: 330px;
    cursor: pointer;
    
}

.London_modal-content button:hover {
    background-color: #7FA058;
}

.London_photos {
    width: 478px;
    margin-left: 3px;
    height: 100px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.London_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 472px;
    height: 50px;
    margin-top: -10px;
    background-color: #E6E6E6;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.earth2 {
    width: 163px;
    height: 163px;
    margin-left: 76px;
    margin-top: 10px;
}

.uk {
    width: 163px;
    height: 163px;
}

.location2 {
    width: 200px;
    margin-left: 65px;
}

.attractions2 {
    width: 200px;
    float: right;
    margin-top: -170px;
    margin-right: 26px;
}
.London_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.London_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.eye {
    height: 100px;
    margin-right: 10px;
}

.tea {
    height: 100px;
    margin-left: -14px;
}

.palace {
    height: 100px;
    float: right;
    margin-top: -104px;
}

.show-London_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***Rome***/

.Rome {
    width: 350px;
    height: 200px;
    background-image: url(rome.png);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Rome:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Rome h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Rome button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Rome_button:hover {
    background-color: #7FA058;
}

.Rome_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Rome_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Rome_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-top: -44px;
    margin-right: 10px;
    }

.Rome_close-button:hover {
    background-color: #DD6486;
    }
.Rome_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-top: -47px;
    margin-left: 330px;
    cursor: pointer;
    
}

.Rome_modal-content button:hover {
    background-color: #7FA058;
}

.Rome_photos {
    width: 478px;
    margin-left: 3px;
    height: 100px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.Rome_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 468px;
    height: 50px;
    margin-top: -10px;
    background-color: #E6E6E6;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-left: 3px;
}

.earth3 {
    width: 163px;
    height: 163px;
    margin-left: 76px;
    margin-top: 10px;
}

.italy {
    width: 163px;
    height: 163px;
}

.location3 {
    width: 200px;
    margin-left: 65px;
}

.attractions3 {
    width: 200px;
    float: right;
    margin-top: -170px;
    margin-right: 26px;
}

.Rome_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Rome_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.vatican {
    height: 100px;
    margin-right: 10px;
}

.pantheon {
    height: 100px;
    margin-left: -14px;
}

.gelato {
    height: 100px;
    float: right;
    margin-top: -104px;
}


.show-Rome_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***Tokyo***/

.Tokyo {
    width: 350px;
    height: 200px;
    background-image: url(tokyo.png);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Tokyo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Tokyo h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Tokyo button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Tokyo_button:hover {
    background-color: #7FA058;
}

.Tokyo_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Tokyo_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Tokyo_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-top: -44px;
    margin-right: 10px;
    }

.Tokyo_close-button:hover {
    background-color: #DD6486;
    }
.Tokyo_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-top: -47px;
    margin-left: 330px;
    cursor: pointer;
    
}

.Tokyo_modal-content button:hover {
    background-color: #7FA058;
}

.Tokyo_photos {
    width: 474px;
    margin-left: px;
    height: 100px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.Tokyo_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 464px;
    height: 50px;
    margin-top: -10px;
    background-color: #E6E6E6;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-left: 5px;
}

.earth4 {
    width: 163px;
    height: 163px;
    margin-left: 76px;
    margin-top: 10px;
}

.japan {
    width: 163px;
    height: 163px;
}

.location4 {
    width: 200px;
    margin-left: 65px;
}

.attractions4 {
    width: 200px;
    float: right;
    margin-top: -170px;
    margin-right: 26px;
}

.Tokyo_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Tokyo_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.imperial {
    height: 100px;
    margin-right: 10px;
}

.ginza {
    height: 100px;
    margin-left: -14px;
}

.sushi {
    height: 100px;
    float: right;
/*    margin-top: -104px;*/
/*    margin-right: 4px;*/
}


.show-Tokyo_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***NYC***/

.NYC {
    width: 350px;
    height: 200px;
    background-image: url(nyc.png);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.NYC:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.NYC h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.NYC button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.NYC_button:hover {
    background-color: #7FA058;
}

.NYC_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.NYC_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.NYC_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-top: -42px;
    margin-right: 10px;
    }

.NYC_close-button:hover {
    background-color: #DD6486;
    }
.NYC_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-top: -45px;
    margin-left: 330px;
    cursor: pointer;
    
}

.NYC_modal-content button:hover {
    background-color: #7FA058;
}

.NYC_photos {
    width: 478px;
    margin-left: 3px;
    height: 100px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.NYC_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 468px;
    margin-left: 3px;
    height: 50px;
    margin-top: -10px;
    background-color: #E6E6E6;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.earth5 {
    width: 163px;
    height: 163px;
    margin-left: 76px;
    margin-top: 10px;
}

.usa {
    width: 163px;
    height: 163px;
}

.location5 {
    width: 200px;
    margin-left: 65px;
}

.attractions5 {
    width: 200px;
    float: right;
    margin-top: -170px;
    margin-right: 26px;
}


.NYC_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.NYC_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.times {
    height: 100px;
    margin-right: 10px;
}

.central {
    height: 100px;
/*    float: left;*/
/*    margin-left: -14px;*/
}

.pizza {
    height: 100px;
    float: right;
/*    margin-top: -104px;*/
}

.show-NYC_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***Sydney***/

.Sydney {
    width: 350px;
    height: 200px;
    background-image: url(sydney.png);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Sydney:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Sydney h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Sydney button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Sydney_button:hover {
    background-color: #7FA058;
}

.Sydney_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Sydney_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Sydney_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    margin-top: -42px;
    margin-right: 10px;
    }

.Sydney_close-button:hover {
    background-color: #DD6486;
    }
.Sydney_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-top: -45px;
    margin-left: 330px;
    cursor: pointer;
    
}

.Sydney_modal-content button:hover {
    background-color: #7FA058;
}

.Sydney_photos {
    width: 478px;
    margin-left: 3px;
    height: 100px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.Sydney_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 468px;
    margin-left: 3px;
    height: 50px;
    margin-top: -10px;
    background-color: #E6E6E6;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0 4px 10px 0 #58595B;
}

.earth6 {
    width: 163px;
    height: 163px;
    margin-left: 76px;
    margin-top: 10px;
}

.australia {
    width: 163px;
    height: 163px;
}

.location6 {
    width: 200px;
    margin-left: 65px;
}

.attractions6{
    width: 200px;
    float: right;
    margin-top: -150px;
    margin-right: 26px;
}


.Sydney_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Sydney_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.opera {
    height: 100px;
    margin-right: 10px;
}

.bridge {
    height: 100px;
    margin-left: -14px;
}

.timtams {
    height: 100px;
    float: right;
    margin-top: -104px;
}

.show-Sydney_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }


