*{
    margin:0px;
/*    background-color: #bfe6f1;*/
    
}

.container {
    width: 768px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("map.png");
}

.title_info h1 {
    background-image: url(logo.svg);
    width: 300px;
    height: 135px;
    background-position: center;
    margin: auto;
}

.title_info p {
    width: 768px;
    height: 75px;
    background-color: rgba(146, 213, 245, .6);
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-top: 10px;
    
}


.locations {
    width: 768px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    justify-items: center;
}

/***Paris***/

.Paris {
    grid-column-start: 1;
    width: 350px;
    height: 200px;
    background-image: url(paris.png);
    box-shadow: 0 4px 8px 0 gray;
}

.Paris h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Paris_button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Paris_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Paris_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Paris_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    }

.Paris_close-button:hover {
    background-color: #DD6486;
    }
.Paris_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: right;
    margin-top: 50px;
    cursor: pointer;
    margin-right: -195px;
}

.Paris_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: -30px;
}

.earth1 {
    width: 163px;
    height: 163px;
}

.france {
    width: 163px;
    height: 163px;
}

.location1 h2{
    float: right;
    margin-top: -150px;
    margin-right: 50px;
}

.location1 ul{
    float: right;
    width: 100px;
    margin-top: -105px;
    
}

.Paris_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Paris_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.arc {
    width: 200px;
    float: right;
    margin-top: -315px;
    margin-right: 10px;
}

.escargot {
    width: 200px;
    float: right;
    margin-top: -210px;
    margin-right: 10px;
}

.crepe {
    width: 200px;
    float: right;
    margin-top: -82px;
    margin-right: 10px;
}

.show-Paris_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }


/***London***/

.London {
    grid-column-start: 2;
    width: 350px;
    height: 200px;
    background-image: url(london2.png);
    box-shadow: 0 4px 8px 0 gray;
}

.London h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.London_button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.London_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.London_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.London_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    }

.London_close-button:hover {
    background-color: #DD6486;
    }

.London_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: right;
    margin-top: 50px;
    cursor: pointer;
    float: right;
    margin-right: -195px;
}

.London_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: -30px;
}

.earth2 {
    width: 163px;
    height: 163px;
}

.uk {
    width: 163px;
    height: 163px;
}

.location2 h2{
    float: right;
    margin-top: -150px;
    margin-right: 50px;
}

.location2 ul{
    float: right;
    width: 100px;
    margin-top: -105px;
    
}

.London_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.London_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.eye {
    width: 200px;
    float: right;
    margin-top: -315px;
    margin-right: 10px;
}


.tea {
    width: 200px;
    float: right;
    margin-top: -210px;
    margin-right: 10px;
}

.palace {
    width: 200px;
    float: right;
    margin-top: -102px;
    margin-right: 10px;
}

.show-London_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***Rome***/

.Rome {
    width: 350px;
    height: 200px;
    background-image: url(rome.png);
    box-shadow: 0 4px 8px 0 gray;
}

.Rome h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Rome button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Rome_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Rome_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Rome_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    }

.Rome_close-button:hover {
    background-color: #DD6486;
    }

.Rome_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: right;
    margin-top: 50px;
    cursor: pointer;
    float: right;
    margin-right: -195px;
}

.Rome_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: -30px;
}

.earth3 {
    width: 163px;
    height: 163px;
}

.italy {
    width: 163px;
    height: 163px;
}

.location3 h2{
    float: right;
    margin-top: -150px;
    margin-right: 50px;
}

.location3 ul{
    float: right;
    width: 100px;
    margin-top: -105px;
    
}

.Rome_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Rome_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.vatican {
    width: 200px;
    float: right;
    margin-top: -315px;
    margin-right: 10px;
}


.pantheon {
    width: 200px;
    float: right;
    margin-top: -210px;
    margin-right: 10px;
}

.gelato {
    width: 200px;
    float: right;
    margin-top: -102px;
    margin-right: 10px;
}


.show-Rome_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***Tokyo***/

.Tokyo {
    width: 350px;
    height: 200px;
    background-image: url(tokyo.png);
    box-shadow: 0 4px 8px 0 gray;
}

.Tokyo h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Tokyo button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Tokyo_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Tokyo_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Tokyo_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    }

.Tokyo_close-button:hover {
    background-color: #DD6486;
    }

.Tokyo_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: right;
    margin-top: 50px;
    cursor: pointer;
    float: right;
    margin-right: -195px;
}

.Tokyo_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: -30px;
}

.earth4 {
    width: 163px;
    height: 163px;
}

.japan {
    width: 163px;
    height: 163px;
}

.location4 h2{
    float: right;
    margin-top: -150px;
    margin-right: 50px;
}

.location4 ul{
    float: right;
    width: 100px;
    margin-top: -105px;
    
}

.Tokyo_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Tokyo_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.imperial {
    width: 200px;
    float: right;
    margin-top: -300px;
    margin-right: 10px;
}


.ginza {
    width: 200px;
    float: right;
    margin-top: -195px;
    margin-right: 10px;
}

.sushi {
    width: 200px;
    float: right;
    margin-top: -87px;
    margin-right: 10px;
}


.show-Tokyo_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***NYC***/

.NYC {
    width: 350px;
    height: 200px;
    background-image: url(nyc.png);
    box-shadow: 0 4px 8px 0 gray;
}

.NYC h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.NYC button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.NYC_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.NYC_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.NYC_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    }

.NYC_close-button:hover {
    background-color: #DD6486;
    }

.NYC_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: right;
    margin-top: 70px;
    cursor: pointer;
    float: right;
    margin-right: -195px;
}

.NYC_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: -30px;
}

.earth5 {
    width: 163px;
    height: 163px;
}

.usa {
    width: 163px;
    height: 163px;
}

.location5 h2{
    float: right;
    margin-top: -150px;
    margin-right: 50px;
}

.location5 ul{
    float: right;
    width: 100px;
    margin-top: -105px;
    
}

.NYC_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.NYC_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.times {
    width: 200px;
    float: right;
    margin-top: -300px;
    margin-right: 10px;
}


.central {
    width: 200px;
    float: right;
    margin-top: -195px;
    margin-right: 10px;
}

.pizza {
    width: 200px;
    float: right;
    margin-top: -87px;
    margin-right: 10px;
}

.show-NYC_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

/***Sydney***/

.Sydney {
    width: 350px;
    height: 200px;
    background-image: url(sydney.png);
    box-shadow: 0 4px 8px 0 gray;
}

.Sydney h3 {
    text-align: center;
    width: 350px;
    height: 30px;
    margin-bottom: -20px;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: -50px;
}

.Sydney button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Sydney_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    }

.Sydney_modal-content {
    width: 500px;
    height: 500px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    overflow: scroll;
    }

.Sydney_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f38ba5;
    box-shadow: 0 4px 10px 0 #58595B;
    }

.Sydney_close-button:hover {
    background-color: #DD6486;
    }

.Sydney_modal-content button {
    background-color: #9fcd73;
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 10px 0 #58595B;
    border: none;
    height: 30px;
    width: 100px;
    float: right;
    margin-top: 70px;
    cursor: pointer;
    float: right;
    margin-right: -195px;
}

.Sydney_modal-content h1 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: -30px;
}

.earth6 {
    width: 163px;
    height: 163px;
}

.australia {
    width: 163px;
    height: 163px;
}

.location6 h2{
    float: right;
    margin-top: -150px;
    margin-right: 50px;
}

.location6 ul{
    float: right;
    width: 100px;
    margin-top: -105px;
    
}

.Sydney_modal-content h2 {
    font-family: geographica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

.Sydney_modal-content ul {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.opera {
    width: 200px;
    float: right;
    margin-top: -300px;
    margin-right: 10px;
}


.bridge {
    width: 200px;
    float: right;
    margin-top: -197px;
    margin-right: 10px;
}

.timtams {
    width: 200px;
    float: right;
    margin-top: -87px;
    margin-right: 10px;
}

.show-Sydney_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }


