* {
    margin: 0;
}

nav {
    text-align: center;
    width: 100%;
}

.nav-bar {
    overflow: hidden;
    background-color: #0c2340;
    position: fixed;
    top: 0;
    width: 100%;

}

.topnav {
    overflow: hidden;
    position: relative;
}



.topnav a {
    float: left;
    display: block;
    color: #e7cc68;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: .95rem;
}

.topnav a.icon {
    color: #f2f2f2;
    float: right;
    display: block;
    font-size: 1.25rem;
}

.topnav a:hover {
    background-color: #e7cc68;
    color: #0c2340;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
}

.main-nav a {
    display: none;
}

.main-nav {
    /*    margin-top:3.5rem;*/
}

.main-nav.responsive {
    position: relative;

}

.main-nav.responsive a {
    float: none;
    display: block;
}


/*****************/
/**** Header *****/
/*****************/

header {
    position: relative;
}

.site-header {
    background-color: #0c2340;
    width: 100%;
}

page {
    width: 100%;
}


.photo1 {
    background-color: aquamarine;
    width: 100%;
    height: 12.5rem;
}

.projectintro h1 {
    padding: 1.25rem;
}

.projectintro p {
    padding: 1.25rem;
}

.photo2 {
    background-color: azure;
    width: 75%;
    height: 12.5rem;
    margin: auto;
    
}

.projectphotos p {
    padding: 1.25rem;
}

.photo3 {
    background-color: azure;
    width: 90%;
    height: 18.75rem;
    margin: 0.625rem auto 2.5rem auto;
   
}

.photo4 {
    background-color: azure;
    width: 90%;
    height: 18.75rem;
    margin: 0.625rem auto 2.5rem auto;
   
}

.photo5 {
    background-color: azure;
    width: 90%;
    height: 18.75rem;
    margin: 0.625rem auto 2.5rem auto;
   
}

.photo6 {
    background-color: azure;
    width: 90%;
    height: 18.75rem;
    margin: 0.625rem auto 2.5rem auto;
   
}

.photo7 {
    background-color: azure;
    width: 90%;
    height: 18.75rem;
    margin: 0.625rem auto 2.5rem auto;
   
}

.photo8 {
    background-color: azure;
    width: 90%;
    height: 18.75rem;
    margin: 0.625rem auto 2.5rem auto;
   
}

@media only screen and (min-width: 601px) {

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav.responsive .icon {
        display: none;
    }

    .main-nav a {
        display: flex;
    }


}

@media only screen and (min-width: 960px) {
    .page {
        /* 960px */
        width: 60rem;
        margin: 0 auto;
    }

    nav {
        width: 54rem;
        margin: 0 auto;
    }

    .main-nav {
        margin-right: 0px;
    }

    .main-nav a {
        font-size: .95rem;
    }
    
    .photo1 {
        width: 50%;
        height: 31.25rem;
        float: left;

    }
    
    .projectintro h1 {
        font-size: 2.5rem;
        display: inline-block;
        margin-top: 3.125rem;

    }
    
    .projectintro p {
        width: 50%;
/*        display: inline-block;*/
        margin-left: 31.25rem;

    }
    
    .photo2 {
        width: 37.5rem;
        height: 25rem;
        margin: 18.75rem auto 1.25rem auto;
    }
    
    .photogrid {
        display: grid;
    }
    
    .photo3 {
        width: 95%;
        height: 31.25rem;
        grid-column-start: 1;
        margin-left: 0;
    }
    
    .photo4 {
        width: 95%;
        height: 31.25rem;
        grid-column-start: 2;
        margin-right: 0;
    }
    
    .photo5 {
        width: 95%;
        height: 31.25rem;
        margin-left: 0;
    }
    
    .photo6{
        width: 95%;
        height: 31.25rem;
        margin-right: 0;
    }
    
    .photo7 {
        width: 95%;
        height: 31.25rem;
        margin-left: 0;
    }
    
    .photo8{
        width: 95%;
        height: 31.25rem;
        margin-right: 0;
    }
}