 body {
     background-color: #e5e5e5;
 }
 
 .container {
     margin-left:auto;
     margin-right:auto;
     width:768px;
     height: 1024px;
     color:#000;
     padding:100px;
}

/*Letter*/
 .letter-container {        
    justify-content: center;
    margin-top: -600px;
    margin-bottom: -480px;
    padding: 60px;
/*    height: 900px;*/
}

.analysis {
    position: absolute;
/*    z-index: 20;*/
    top: -622px;
    left: 34px;
    margin-bottom: -600px;
}

/*Button*/

#button {
    width: 260px;
    height: 40px;
    background-color: #0b552e;
    float: right;
    margin-bottom: -300px;
    margin-top: 15px;
    margin-right: 5px;
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 0px;
    padding-bottom: 2px;
    overflow: hidden;
    z-index: 30;
    position: relative;
}

#button:hover {
    background-color: #cba43d;
}

/*Title and Paragraph*/
 .info-section {
    font-family: "motiva-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    float: left;

 }
 .info-section h2 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 41.6px;
    color: #0b552e;
    height: 0px;
    line-height: 0px;
    float: left;
 }
 .info-section h1 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 135.2px;
    color: #fff;
    background-color: #cba43d;
    width: 460px;
    height: 120px;
    text-align: center;
    line-height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;    
    padding-top:10px;
    padding-right: 5px;
    float: left;
   
}
 .info-section h3{
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 41.6px;
    color: #0b552e;
    height: 0px;
    line-height: 0px;
    margin-left: 175px;
    margin-top: 32px;
    float: left;
}
 
.info-section p {
    font-family: "motiva-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    width: 260px;
    height: auto;
    text-align: left;
    display: inline-block;
    margin-left: 40px;
    margin-top: 64px;
    margin-bottom: -100%

}

/*Sample Set*/
 .sample-set {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    font-size: 38;
    width: 450px;
    background-color: #0b552e;
    padding-right: 2px;
    padding-left: 13px;
    margin-top: 35px;
    display: flex;
    clear: right;
    
}

/*Photo and Name*/
 .photo-title {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 22.1px;
    float: right;
    margin-bottom: 50px;
    
}
  .photo-title h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    width: 260px;
    height: 33px;
    background-color: #cba43d;
    text-align: center;
    margin-right: 5px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    }

 .photo-title h4 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    width: 180px;
    margin-bottom: -50px;
    margin-top: 3px;
}
 .photo-title img {
    width: 100px;
    float: right;
     margin-right: 5px;
}

/*Sources*/
 .sources h3 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 0px;
    float: left;
}
 .sources p {
    font-family: "motiva-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 465px;
    margin-top: 0px;
    float: left;
    margin-bottom: 0px;
    