body {
    background-color: e5e5e5;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width:768px;
    height: 1024px;
    color:#000;
    padding:100px;
}

.letter-container {
/*    height: 430px;*/
/*    align-content: center;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    
}

.info-section {
    font-family: "motiva-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
/*    display: flex;*/
    float: left;

}

.info-section h2 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 41.6px;
    color: #0b552e;
    height: 0px;
    line-height: 0px;
    float: left;

}

.info-section h1 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 135.2px;
    color: #fff;
    background-color: #cba43d;
    width: 460px;
    height: 120px;
    text-align: center;
    line-height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;    
    padding-top:10px;
    padding-right: 5px;
    float: left;
   
}

.info-section h3{
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 41.6px;
    color: #0b552e;
    height: 0px;
    line-height: 0px;
    margin-left: 175px;
    margin-top: 32px;
    float: left;
    margin-bottom: 0px;
}

.info-section p {
    font-size: 14px;
    width: 240px;
    height: auto;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 70px;
    
}

/*.sample-set {*/
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    font-size: 38;
    width: 450px;
    background-color: #0b552e;
    padding-right: 5px;
    padding-left: 15px;
    margin-top: 35px;
/*    display: flex;*/
/*    height: 150px;*/
    
    
}

.photo-title {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 22.1px;
    float: right;
    
}

 .photo-title h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    width: 235px;
    height: 33px;
    background-color: #cba43d;
    text-align: center;
    float: right;
    
    }

.photo-title h4 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 22.1px;
/*    float: right;   */
    width: 235px;
}

.photo-title img {
    width: 100px;
    float: right;
}

.sources h3 {
    font-family: "tenez",sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 0px;
    float: left;
}

.sources p {
    font-family: "motiva-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15.6px;
    width: 465px;
    margin-top: 0px;
    float: left;
    
}